body {
    height: 100%;
}

.sign-in-form {
    width: 100%;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    font-weight: bold;
}
.paddingBottom {
    padding-bottom: 20px;
}

.paddingTop {
    padding-top: 20px;
}

div.sign-in-form h1 {
    padding-bottom: 15px;
}

.backend-response {
    margin-top: 10px;
}

.registration-page {
    background-color: white;
    margin: 20px auto auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: /* top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* the second layer */ 0 10px 0 -5px #eee,
        /* second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* the third layer */ 0 20px 0 -10px #eee,
        /* third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
    padding: 30px;
}


.sign-in-text {
    text-align: center;
    color: 	#4169e1;
}

.black-text{
    text-align: center;
    color: black;
}
